*.py[cod]

# C extensions
*.so

# Packages
*.egg
.egg[s]
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
**/.coverage
.tox
.coverage
.coverage.*
nosetests.xml
htmlcov
.noseids

.DS_Store
*~
.*.sw[po]
.build
.ve
.bootstrap

*.lock
src/forklift-garage/
