<!-- gmail will strip the <style> tag if it's not in the <head> -->
<head>
  <style>
    .error {
      background-color: #FFE6E6;
    }
    .warning {
      background-color: #FFF7E6;
    }
    .success {
      background-color: #E6FFE6;
    }
    .info {
      background-color: #E6EEFF;
    }
    .pull-right {
      float: right;
      margin-left: 20px;
    }
    .indent {
      padding-left: 10px;
    }
    table {
      line-height: 1.5em;
      border-collapse: collapse;
    }
  </style>
</head>
<p>
  <b>{{num_success_pallets}}</b> out of <b>{{total_pallets}}</b> pallets ran successfully in <b>{{total_time}}</b> on {{hostname}}.
</p>
<table>
  <tbody>
    {{#server_reports}}
      <tr>
        <td colspan="2" class="info">
          <b>ArcGIS Server Service Status: {{name}}</b>
        </td>
      </tr>
      {{^success}}
      <tr>
        <td colspan="2" class="error indent">{{message}}</td>
      </tr>
      {{/success}}
      {{#has_service_issues}}
      <tr>
        <td colspan="2" class="error">Problem Services</td>
      </tr>
      {{/has_service_issues}}
      {{#problem_services}}
      <tr>
        <td colspan="2" class="error indent">{{.}}</td>
      </tr>
      {{/problem_services}}
      {{^problem_services}}
      <tr>
          <td colspan="2" class="info indent">All services started</td>
      </tr>
      {{/problem_services}}
      <tr>
        <td colspan="2" class="info">
          <b>Datasets Copied</b>
        </td>
      </tr>
      {{#successful_copies}}
      <tr>
        <td colspan="2" class="info indent">{{.}}</td>
      </tr>
      {{/successful_copies}}
      {{^successful_copies}}
      <tr>
        <td colspan="2" class="info indent">No data updated</td>
      </tr>
      {{/successful_copies}}
      <tr>
        <td>&nbsp;</td>
      </tr>
    {{/server_reports}}
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" class="info">
        <b>Pallet Status</b>
      </td>
    </tr>
    {{#pallets}}
    <tr class="{{#success}}success{{/success}}{{^success}}error{{/success}}">
      <td colspan="2">
        {{name}}
        <span class="pull-right">
          {{total_processing_time}}
        </span>
      </td>
    </tr>
    <tr class="{{#success}}success{{/success}}{{^success}}error{{/success}}">
      <td><b>post copy processed:</b> {{post_copy_processed}}</td>
      <td><b>shipped:</b> {{shipped}}</td>
    </tr>
    <tr class="{{#success}}success{{/success}}{{^success}}error{{/success}}">
      <td colspan="2"><b>{{message}}</b></td>
    </tr>
    {{/pallets}}
  </tbody>
</table>
